<!-- <p>
  add-property works!
    <button (click)="onBack()"><i class="fa-solid fa-arrow-left"></i></button> 
</p> -->

<div class="card">
  <div class="card-header">
    Add new Property
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" #propName="ngModel" ngModel name="name" required minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
          <span  class="error-block">*The name is required</span>
          <span *ngIf="" class="error-block">*Name must be at least 5 char!</span>
        </span>
        
      </div>
      <div class="form-group col-12">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name ="Type" >
      </div>
      <div class="form-group col-12">
        <label for="price">Price</label>
        <input type="text" class="form-control" ngModel name="Price">
      </div>
      <div class="form-group col-12 ms-5 mt-2">
        <button  type="submit" class="btn btn-primary me-3">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>

